<header class="p-3 w-full fixed top-0 z-50 bg-gradient-to-r from-primary to-black " >
    <div class="flex align-midle items-center px-10 mx-auto gap-6">
        Dating app
    </div>
    <nav class="flex gap-3 my-2 uppercase text-lg text-white">
        <a >Matchess</a>
        <a>Lists</a>
        <a>Messages</a>

    </nav>
    <div class="flex align-middle ml-auto gap-3">
        <form class="flex items-center gap-3" >
            <input type="text" class="input" placeholder="Email">
            <input type="password" class="input" placeholder="Password">

        </form>
    </div>

</header>